@import url(_variables.css);

@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik/Graphik-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: var(--main-font);
    background-color: var(--bg-dark);
    color: var(--text-white);
    overflow-x: hidden;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

.d-none {
    display: none !important;
}

.d-flex {
    display: flex;
}

.text-center {
    text-align: center;
}

.item-center {
    align-items: center;
}

.vertical-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.content-wrap {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
}

/* --- BUTTONS --- */
.btn {
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    font-family: inherit;
    transition: all 0.3s ease;
}

/* Прозора кнопка з білою рамкою (Contact us) */
.btn-outline {
    font-family: 'Nunito Sans', sans-serif;
    background: transparent;
    border: 1px solid var(--text-white);
    color: var(--text-white);
    padding: 10px 30px;
}

.btn-outline:hover {
    background: var(--text-white);
    color: var(--bg-dark);
}

/* фіолетова кнопка */
.btn-primary {
    font-family: 'Nunito Sans', sans-serif;
    background: var(--primary-color);
    border: none;
    color: var(--text-white);
    padding: 16px 36px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 16px 27px 15px 27px;
}

.btn-primary:hover {
    background: #4343B8;
    transform: translateY(-3px);
}

/* =========================================
   HEADER & NAVBAR
   ========================================= */
.main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s ease, padding 0.3s ease;
    padding-top: 32px;
    padding-bottom: 20px;
}

.main-header.scrolled {
    background-color: rgba(30, 30, 43, 0.95);
    backdrop-filter: blur(300px);
    padding: 10px 0;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.navbar {
    height: 50px;
}

.logo img {
    width: 30px;
    margin-right: 12px;
}

.logo-text {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    font-weight: 800;
}

.menu-icon {
    font-size: 1.8rem;
    cursor: pointer;
    z-index: 1001;
}

.menu-icon img {
    width: 24px;
    height: 24px;
}

.d-none-mobile {
    display: none;
}

/* МОБІЛЬНЕ МЕНЮ */
.nav-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: right 0.4s ease;
}

.nav-menu.menu-open {
    right: 0;
}

.main-menu {
    flex-direction: column;
    text-align: center;
    gap: 40px;
    font-size: 1.5rem;
}

.main-menu a.active {
    color: var(--primary-color);
}

/* =========================================
                    HERO SECTION (MOBILE)
            ========================================= */
.hero-section {
    position: relative;
    /* літаючі іконки і градієнт позицінуються відносно цієї секції */
    padding-top: 140px;
    padding-bottom: 60px;
}

.hero-wrap {
    position: relative;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
    gap: 40px;
    z-index: 1;
}

.hero-title {
    font-family: 'Graphik', sans-serif;
    font-size: 42px;
    line-height: 1.5;
    font-weight: 700;
    margin-bottom: 30px;
    max-width: 327px;
}

.hero-subtitle {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--text-gray);
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 40px;
    max-width: 327px;
}

/* --- ФОНОВИЙ ГРАДІЄНТ --- */
.hero-wrap::before {
    content: '';
    position: absolute;
    width: 467px;
    height: 1234px;
    top: -250px;
    left: 200px;
    border-radius: 233.5px;
    transform: rotate(-54.37deg);
    background: linear-gradient(180deg, rgba(84, 84, 212, 0.4) 0%, rgba(84, 84, 212, 0) 100%);
    filter: blur(300px);
    opacity: 0.6;
    z-index: -1;
    pointer-events: none;
}

.hero-wrap::after {
    content: '';
    position: absolute;
    width: 467px;
    height: 1399px;
    border-radius: 233.5px;
    transform: rotate(65.71deg);
    background: linear-gradient(180deg, rgba(251, 168, 28, 0.26) 0%, rgba(224, 86, 136, 0.01) 100%);
    filter: blur(300px);
    z-index: -1;
    pointer-events: none;
    top: -150px;
    right: -250px;
}

/* --- КОНТЕЙНЕР ДЛЯ ФОТО --- */
.hero-visual {
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
}

/* --- ЛІТАЮЧІ ІКОНКИ --- */
.floating-icon {
    position: absolute;
    transform: translateY(120px);
    z-index: 0;
    scale: 0.9;
}

.icon-zigzag {
    top: 46%;
    left: 8%;
    width: 60px;
}

.icon-play {
    bottom: 10%;
    left: 5%;
    width: 60px;
}

.icon-circles {
    top: 44%;
    right: 40px;
    width: 40px;
}

.icon-plus {
    bottom: 17%;
    right: 30px;
    width: 45px;
}

/* --- КОМПОЗИЦІЯ З ФОТО ТА РОМБАМИ --- */
.visual-composition {
    position: relative;
    width: 350px;
    height: 450px;
    margin: 0 auto;
    top: 60px;
    scale: 0.8;
}

/* Спільні стилі для ромбів */
.diamond-outline,
.diamond-solid {
    position: absolute;
    border: 3.33px solid var(--text-white);
    width: 270px;
    height: 270px;
    border-radius: 22.18px;
    transform: rotate(23.64deg);
}

.diamond-outline {
    top: 60px;
    left: 10px;
    z-index: 1;
}

.diamond-solid {
    background: var(--primary-color);
    top: 101px;
    left: 20px;
    z-index: 2;
}

.visual-mask {
    position: absolute;
    width: 298px;
    height: 371px;
    top: -5px;
    left: 12px;
    border-radius: 22.18px;
    transform: rotate(23.64deg);
    overflow: hidden;
    z-index: 3;
}

.vector-waves {
    position: absolute;
    width: 348px;
    z-index: 2;
    top: 62px;
    left: -19px;
    pointer-events: none;
}

.hero-guy {
    display: block;
    position: absolute;
    max-width: none;
    width: 340px;
    transform: rotate(-23.64deg);
    top: 0px;
    left: -7px;
}

/* --- АНІМАЦІЇ ПРИ СКРОЛІ --- */
.animate-on-scroll {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.animate-on-scroll.is-visible {
    opacity: 1;
    transform: translateY(0);
}


/* =========================================
                  VIDEO SECTION (MOBILE)
        ========================================= */
.video-section {
    padding-top: 140px;
    padding-bottom: 60px;
}

.video-text-header {
    flex-direction: column;
}

.section-title {
    font-family: 'Graphik', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0px;
    margin-bottom: 30px;
    max-width: 327px;
}

.section-subtitle {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0px;
    color: var(--text-gray);
    margin-bottom: 50px;
    max-width: 327px;
}

.video-wrapper {
    position: relative;
    width: 100%;
    max-width: 327px;
    height: 184px;
}

.video-thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    background: transparent;
    border-radius: 50%;
    background-color: var(--primary-color);
    border: none;
    color: var(--text-white);
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.video-play-btn img {
    width: 15px;
    height: auto;
    margin-left: 4px;
    display: block;
}

.video-play-btn:hover {
    transform: translate(-50%, -50%) scale(1.1);
}


            /* =========================================
                      SERVICES SECTION (MOBILE)
            ========================================= */
.services-section {
    position: relative;
    padding-top: 140px;
    padding-bottom: 60px;
}

.services-section .section-title {
    margin: 0 auto 60px auto;
}

.services-grid {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.service-card {
    width: 100%;
    max-width: 269px;
    height: 294px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icon-wrap {
    width: 69px;
    height: 69px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.bg-purple { background-color: #5454D41A; }
.bg-red { background-color: #F040371A; }
.bg-yellow { background-color: #FEDC5A1A; }

.card-text {
    width: 100%;
    max-width: 299px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-title {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: -0.75px;
    margin-bottom: 20px;
    text-align: center;
}

/* Опис картки */
.card-desc {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: var(--text-gray); 
    text-align: center;
}

/* --- ІКОНКИ ДЛЯ СЕРВІСІВ --- */
.icon-play-services {
    top: -40px;
    left: 15px;
    width: 75px;
    border-width: 0.63px;
}

.icon-plus-services-1 {
    top: 130px;
    right: 20px;
    width: 25px;
}

.icon-plus-services-2 {
    bottom: 90px;
    left: 24px;
    width: 28px;
}

.relative { position: relative; }

                    /* =========================================
                           PORTFOLIO SECTION (MOBILE)
                    ========================================= */
.portfolio-section {
    padding-top: 140px;
    padding-bottom: 60px;
}

.portfolio-title {
    text-align: left;
    margin-bottom: 50px;
}

.portfolio-slider-wrap {
    max-width: 375px;
    height: 294px;
    margin: 0 auto 50px auto;
    background: #1E1E20;
    border-radius: 14px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

/*стрічка, на якій лежать всі фото.*/
.portfolio-track {
    display: flex;
    gap: 24px;
    padding: 0 24px;
    transition: transform 0.4s ease-in-out;
}

/* Самі фотографії */
.portfolio-slide {
    flex: 0 0 327px;
    height: 246px;
    border-radius: 12px;
    object-fit: cover;
}

/* Блок з кнопками */
.portfolio-controls {
    justify-content: center;
    gap: 12px;
    margin: 0 auto;
}

/* стилі для кнопок слайдера */
.slider-btn {
    width: 38.2px;
    height: 38.2px;
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--text-white);
    font-size: 14px;
    transition: transform 0.2s ease, opacity 0.3s ease;
}

/* кнопка назад */
.btn-prev {
    background: rgba(255, 255, 255, 0.2);
}

/* кнопка вперед */
.btn-next {
    background: #5454D4;
}

.slider-btn:active {
    transform: scale(0.9);
}

.portfolio-pagination {
    display: none;
}

.icon-circles-portfolio {
    top: 51px; 
    right: 20px;
    width: 39.3px;
    transform: rotate(-20.89deg);
}

.icon-zigzag-portfolio {
    bottom: 45px;
    left: 9px;
    width: 61px;
}

/* =========================================
                TABLETS & LAPTOPS
   ========================================= */
@media screen and (min-width: 789px) {
    .d-mobile-only {
        display: none;
    }

    .d-none-mobile {
        display: block;
    }

    .nav-menu {
        position: static;
        width: auto;
        height: auto;
        background-color: transparent;
    }

    .main-menu {
        font-family: 'Nunito Sans', sans-serif;
        flex-direction: row;
        gap: 30px;
        font-size: 1rem;
    }

    .main-menu a:hover {
        color: var(--primary-color);
    }

    .hero-wrap {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .hero-content {
        flex: 1;
        padding-right: 40px;
    }

    .hero-visual {
        flex: 1;
        justify-content: flex-end;
    }

    .floating-icon {
        transform: none;
    }

    .icon-zigzag {
        top: 70px;
        left: 360px;
        width: 95px;
    }

    .icon-play {
        top: 380px;
        left: 350px;
        width: 105px;
    }

    .icon-circles {
        top: 60px;
        right: 20px;
        width: 51px;
    }

    .icon-plus {
        bottom: 10px;
        right: 0px;
        width: 50px;
    }


}

/* =========================================
            DESKTOPS & LARGE SCREENS
   ========================================= */
@media screen and (min-width: 1025px) {

    .hero-section {
        padding-top: 130px;
        padding-bottom: 150px;
    }

    .hero-title {
        font-size: 80px;
        line-height: 84px;
        max-width: 582px;
        margin-bottom: 30px;
    }

    .hero-subtitle {
        font-size: 18px;
        line-height: 1.8;
        max-width: 582px;
    }

    .hero-wrap::before {
        top: -148px;
        left: -402px;
    }

    .visual-composition {
        width: 450px;
        height: 550px;
        left: 100px;
        top: 100px;
        scale: 1;
    }

    .hero-wrap::before {
        top: -250px;
        left: 200px;
    }

    .hero-wrap::after {
        top: -261px;
        left: 926px;
    }

    .diamond-outline,
    .diamond-solid {
        width: 350px;
        height: 350px;
    }

    .diamond-outline {
        left: -10px;
        top: 50px;
    }

    .visual-mask {
        width: 378px;
        height: 451px;
    }

    .hero-guy {
        width: 440px;
        top: -28px;
    }

    .vector-waves {
        width: 452px;
        top: 50px;
        left: -30px;
    }

    .floating-icon {
        transform: none;
    }

    .icon-zigzag {
        top: 70px;
        left: 630px;
        width: 95px;
    }

    .icon-play {
        top: 450px;
        left: 550px;
        width: 105px;
    }

    .icon-circles {
        top: 20px;
        right: 20px;
        width: 51px;
    }

    .icon-plus {
        top: 510px;
        right: 0px;
        width: 50px;
    }

    /* =========================================
                    VIDEO SECTION (DESKTOPS)
            ========================================= */
    .video-section {
        padding-top: 150px;
        padding-bottom: 120px;
    }

    .video-text-header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 50px;
    }

    .video-section .section-title {
        font-size: 60px;
        line-height: 70px;
        max-width: 588px;
        margin-bottom: 0;
    }

    .video-section .section-subtitle {
        font-size: 21px;
        line-height: 39px;
        letter-spacing: -0.66px;
        max-width: 588px;
    }

    .video-wrapper {
        max-width: 100%;
        height: 670px;
    }

    .video-play-btn {
        width: 80px;
        height: 80px;
    }

    /* =========================================
       SERVICES SECTION (DESKTOPS)
       ========================================= */
    .services-section {
        padding-top: 150px;
        padding-bottom: 120px;
    }

    .services-section .section-title {
        font-size: 60px;
        line-height: 70px;
        margin-bottom: 80px; 
        margin: 0 auto 80px auto;
        text-align: center;
        max-width: none;
    }

    .services-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 24px; 
        flex-direction: row;
    }

    .service-card {
        max-width: 384px;
        height: 300px;
        
    }

    .card-title {
        font-size: 28px;
        margin-bottom: 20px;
    }

    .card-desc {
        font-size: 20px;
        line-height: 28px;
        letter-spacing: -0.5px;
    }

    .icon-play-services {
        top: 30px;
        left: 50px;
        width: 100px;
    }

    .icon-plus-services-1 {
        top: 200px;
        right: 150px;
        width: 35px;
    }

    .icon-plus-services-2 {
        top: auto; 
        bottom: 50px;
        left: 100px;
        width: 35px;
    }
    
    /* =========================================
       PORTFOLIO SECTION (DESKTOPS)
       ========================================= */
    .portfolio-section {
        padding-top: 150px;
        padding-bottom: 120px;
    }

    .portfolio-title {
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 800;
        font-size: 58px;
        line-height: 1;
        margin-bottom: 70px;
        max-width: 685px;
    }

    .portfolio-slider-wrap {
        max-width: 100%;
        height: 624px;
        margin-bottom: 50px;
    }

    /* Налаштовуємо трек для відображення 3-х фотографій одночасно */
    .portfolio-track {
        width: 100%;
        gap: 40px;
        padding: 0 40px;
        justify-content: center;
    }

    .portfolio-slide {
        flex: 1; 
        height: 460px;
        max-width: 360px;
    }

    .portfolio-pagination {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px; /* Відстань між крапочками 8px з Фігми */
    }

    .portfolio-pagination .dot {
        width: 8px;
        height: 8px;
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 50%;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    .portfolio-pagination .dot.active {
        width: 16px;
        background-color: #5454D4;
        border-radius: 10px;
    }

    .icon-circles-portfolio {
        top: 0;
        right: 0;
        width: 62px;
        transform: rotate(-27.37deg);
    }

    .icon-zigzag-portfolio {
        bottom: 0px; 
        left: 74px;
    }

    #btnPrev, #btnNext {
        display: none !important;
    }

}